@import "../node_modules/bootstrap/scss/functions";

$primary: #E86060;
$secondary: #662323;

$gradient: linear-gradient(0deg, rgba(167, 0, 0, 0.7), rgba(167, 0, 0, 0.7));

@import "../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors,  (
  "medium" : #828282,
  "custom-gray ": #555555,
  "soft-gray" : #BDBDBD
));

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";



$utilities: map-merge(
  $utilities,
  (
    "opacity": (
  property: opacity,
  class:o,
  responsive: true,
  values: (
    0: 0,
    25: .25,
    50: .5,
    75: .75,
    100: 1,
  )
)
  )
);


$utilities: map-merge(
  $utilities,
  (
    "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "viewport-height"), "values"),
          (
            10: 10vh,
            15: 15vh,
            20: 20vh,
            25: 25vh,
            50: 50vh,
            80: 80vh,
            90: 90vh
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "min-viewport-height": map-merge(
      map-get($utilities, "min-viewport-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "min-viewport-height"), "values"),
          (
            10: 10vh,
            15: 15vh,
            20: 20vh,
            25: 25vh,
            50: 50vh,
            80: 80vh,
            90: 90vh
          ),
        ),
      ),
    ),
  )
);


@import "~bootstrap/scss/bootstrap";

:root{
  font-family: 'Quicksand', sans-serif;
}

.albumDetail{
  height:250px;
}
.albumDetail  img{
  max-height: 100% !important;
  object-fit: cover !important;
}
img.card-img-top{
  position:relative;
}
.audioControl{
  cursor:pointer;
  position:absolute;
  top:100px;
  left:50%;
}

.audioControl svg{
  vertical-align:-webkit-baseline-middle;
  vertical-align: baseline;
}

.multiline{
  white-space: pre;
}
